/* Layout Styles */
/* ----------------------------------------------------------*/

.navbar {
  margin-bottom: 20px;
}

/* Mast head */
.masthead {
  display: block;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* button margins */
.btn {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-social {
  vertical-align: top;
  zoom: 1;
  *display: inline
}

/* images */
img {
  max-width: 100%;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
