/* Layout Styles */
/* ----------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.page-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

/* navbar */
.navbar {
  margin-bottom: 20px;
}

.nav-justified {
  width: auto;
}
.nav-justified > li {
  float: none;
}
@media (min-width: 768px) {
  .nav-justified > li {
    width: auto;
    display: block;
  }
}
@media (min-width: 992px) {
  .nav-justified {
    width: 100%;
  }
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

.dropdown-menu > li {
  text-align: center;
}
@media (min-width: 992px) {
  .dropdown-menu > li {
    text-align: left;
  }
}

/* Mast head */
.masthead {
  display: block;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* images */
img {
  max-width: 100%;
}

a.thumbnail:hover {
  text-decoration: none;
}

.thumbnail .caption {
  text-align: center;
  padding: 0px;
}

.bubbles {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.bubbles h2 {
  font-weight: normal;
}
.bubbles p {
  margin-right: 10px;
  margin-left: 10px;
}

/* button margins */
.btn {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-social {
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.social-links {
  margin-bottom: 10px;
}

.social-links > a {
  text-decoration: none;
  color: #818181;
}

.social-links > a:hover {
  text-decoration: underline;
  color: #818181;
}

/* share buttons */
.share-btns {
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .share-btns {
    padding-bottom: 0px;
  }
}

/* info labels */
.info-labels {
  text-align: left;
}
@media (min-width: 768px) {
  .info-labels {
    text-align: right;
  }
}

/* banners */
.banner {
  font-size:1.4em;
}
@media (min-width: 992px) {
  .banner {
    font-size:2em;
  }
}

/* profile content */
.profile-content {
  margin-bottom: 10px;
  font-size: 18px;
}
.profile-content > p {
  margin-top: 10px;
}
@media (min-width: 768px) {
.profile-content {
  font-size: 24px;
}
.profile-content > p {
  margin-top: inherit;
}
}

.row .profile-content {
  padding-right: 15px;
  padding-left: 15px;
}

/* membership panels */
.panel-platinum {
  border-color: #1a1a1a;
}
.panel-platinum > .panel-heading {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.panel-platinum > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1a1a1a;
}
.panel-platinum > .panel-heading .badge {
  color: #1a1a1a;
  background-color: #ffffff;
}
.panel-platinum > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1a1a1a;
}
.btn-platinum {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #0d0d0d;
}

.panel-gold {
  border-color: #f7e2b4;
}
.panel-gold > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #f7e2b4;
}
.panel-gold > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f7e2b4;
}
.panel-gold > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-gold > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f7e2b4;
}
.btn-gold {
  color: #ffffff;
  background-color: #8a6d3b;
  border-color: #785f33;
}
.btn-gold:focus,
.btn-gold.focus {
  color: #ffffff;
}
.btn-gold:hover {
  color: #ffffff;
  background-color: #785f33;
  border-color: #66512b;
}
.btn-gold:active {
  color: #ffffff;
}

.panel-silver {
  border-color: #cdcdcd;
}
.panel-silver > .panel-heading {
  color: #747474;
  background-color: #e6e6e6;
  border-color: #cdcdcd;
}
.panel-silver > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #cdcdcd;
}
.panel-silver > .panel-heading .badge {
  color: #e6e6e6;
  background-color: #747474;
}
.panel-silver > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #cdcdcd;
}
.btn-silver {
  color: #ffffff;
  background-color: #747474;
  border-color: #676767;
}
.btn-silver:focus,
.btn-silver.focus {
  color: #ffffff;
}
.btn-silver:hover {
  color: #ffffff;
  background-color: #676767;
  border-color: #5a5a5a;
}
.btn-silver:active {
  color: #ffffff;
}

.panel-bronze {
  border-color: #e6bf99;
}
.panel-bronze > .panel-heading {
  color: #a46528;
  background-color: #f0d9c2;
  border-color: #e6bf99;
}
.panel-bronze > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #e6bf99;
}
.panel-bronze > .panel-heading .badge {
  color: #f0d9c2;
  background-color: #a46528;
}
.panel-bronze > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e6bf99;
}
.btn-bronze {
  color: #ffffff;
  background-color: #a46528;
  border-color: #905823;
}
.btn-bronze:focus,
.btn-bronze.focus {
  color: #ffffff;
}
.btn-bronze:hover {
  color: #ffffff;
  background-color: #905823;
  border-color: #7b4b1e;
}
.btn-bronze:active {
  color: #ffffff;
}

.membership-btn {
  padding-bottom: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  .membership-row > div[class*='col-'] {
    min-height: 350px;
  }
  .membership-row > div[class*='col-'] > .panel {
    min-height: inherit;
  }
  .membership-panel {
    position: relative;
  }
  .membership-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

/* Google Calender */
.calendar-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.calendar-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Google Maps */
.google-maps {
  position: relative;
  /* (300 / 400 = 0.75 = 75%) */
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Follow Instagram style */
.ig-b- {
  display: inline-block;
}
.ig-b- img {
  visibility: hidden;
}
.ig-b-:hover {
  background-position: 0 -60px;
}
.ig-b-:active {
  background-position: 0 -120px;
}
.ig-b-24 {
  width: 24px;
  height: 24px;
  background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ig-b-24 {
    background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png);
    background-size: 60px 178px;
  }
}
