<footer>
  <div class="container text-center">

    <!-- Follow Twitter button -->
    <a href="https://twitter.com/GPA_CenTex" class="twitter-follow-button" data-show-count="false">Follow @GPA_CenTex</a>
    <!-- Follow Facebook button -->
    <div class="fb-follow" data-href="https://www.facebook.com/greyhoundpetscentraltexas" data-colorscheme="light"
    data-layout="button" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
    <p>
    &copy; Greyhound Pets of America-Central Texas
  </div>
</footer>
