<footer>
  <div class="container text-center">

    <div class="social-icons">
      <a title="Facebook" href="https://facebook.com/galtcentraltexas">
        <i class="fab fa-fw fa-lg fa-facebook"></i>
      </a>
      <a title="Instagram" href="https://instagram.com/galt_centraltexas">
        <i class="fab fa-fw fa-lg fa-instagram"></i>
      </a>
      <a title="Twitter" href="https://twitter.com/galt_centraltex">
        <i class="fab fa-fw fa-lg fa-twitter"></i>
      </a>
      <a title="MailChimp" href="https://galtx-centex.us6.list-manage.com/subscribe?u=ce82f17bc088ab9ad887edb8d&amp;id=5f26041b9d">
        <i class="far fa-fw fa-lg fa-envelope"></i>
      </a>
      <a title="GitHub" href="https://github.com/galtx-centex">
        <i class="fab fa-fw fa-lg fa-github"></i>
      </a>
    </div>
    <p/>
    <p>
    &copy; GALT-Central Texas<br>
    P.O. Box 170160<br>
    Austin, Texas 78717<br>
    </p>
  </div>
</footer>
