<footer>
  <div class="container text-center">

    <!-- Follow Twitter button -->
    <a href="https://twitter.com/GPA_CenTex" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @GPA_CenTex</a>
    <!-- Follow Facebook button -->
    <div class="fb-like btn-social" data-href="https://www.facebook.com/greyhoundpetscentraltexas" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
    <!-- Github Star button -->
    <iframe src="http://ghbtns.com/github-btn.html?user=gpa-centex&repo=gpa-centex.github.io&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="50" height="20"></iframe>
    <!-- Follow Instagram button -->
    <a href="http://instagram.com/greyhoundscentraltexas?ref=badge" class="btn-social ig-b- ig-b-24">
      <img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" />
    </a>
    <p>
    <div class="social-links">
      <!-- Facebook link -->
      <a href="https://www.facebook.com/greyhoundpetscentraltexas">Facebook</a>
      ·
      <!-- MailChimp link -->
      <a href="http://gpacentraltexas.us6.list-manage.com/subscribe?u=ce82f17bc088ab9ad887edb8d&id=5f26041b9d">MailChimp</a>
      ·
      <!-- Randalls link -->
      <a href="http://www.randalls.com/IFL/Grocery/Good-Neighbor">Randalls</a>
      ·
      <!-- Amazon Smile link -->
      <a href="https://smile.amazon.com/ch/74-2762533">Amazon Smile</a>
      ·
      <!-- Woof Trax link -->
      <a href="http://www.wooftrax.com/">Woof Trax</a>
      ·
      <!-- BarkBox link -->
      <a href="https://www.barkbox.com/">BarkBox</a>
    </div>
    <p>
    &copy; Greyhound Pets of America-Central Texas<br>
    P.O. Box 10069<br>
    Austin, Texas 78766<br>
    <p>
  </div>
</footer>
