<header class="site-header">

<div class="container">
  <div class="masthead">
    <a href="/">
      <img width="150" height="150" src="/img/gpactx-logo.png" alt="Greyhoun Pets of America, Central Texas"></img>
    </a>
  </div>
</div>

<div class="container">

<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/greyhounds">Greyhounds</a></li>
        <li><a href="/adopt">Adopt</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
        <li><a href="/foster">Foster</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/news">News</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/donate">Donate</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

</div><!-- container -->

</header>
