<div class="alert alert-warning alert-dismissible" role="alert">
  <p class="lead">
    <strong>As of April 2021:</strong>
  </p>
  <p class="lead">
    GALT Central Texas is suspending the intake of new adoption applications due to the national shortage of adoptable
    retired racing greyhounds and the high volume of applications. If you currently have an application on record with
    GALT Central Texas we ask for your patience with the processing time. Applications are processed in the order they
    are received and marked as ready for placement after the application is approved. We are committed to matching the
    right greyhound with the right family, and must consider things such as resident pets, young children, and physical
    environment. Currently, the adoption process from application submission to greyhound placement may take up to
    six-plus months.
  </p>
  <p class="lead">
    <strong>An update will be published as soon as reasonable.</strong>
  </p>
  <p class="lead">
    If you have any concerns about the status of your application, please contact
    <a href="mailto:adopt@galtx-centex.org">adopt@galtx-centex.org</a>
  </p>
</div>
