<div class="alert alert-warning alert-dismissible" role="alert">
  <p class="lead">
    <strong>As of April 2021:</strong>
  </p>
  <p class="lead">
    The intake of retired racers has slowed to a trickle, while there has been a huge number of interested adopters. We
    are making every effort to bring more greyhounds into our program, and will use this pause to focus on fulfilling
    those applications already on our waiting list. This organization continues to provide support and community to our
    fellow greyhound owners. Updates will be published as the situation changes.
  </p>
  <p class="lead">
    <strong>An update will be published as soon as reasonable.</strong>
  </p>
  <p class="lead">
    If you have any concerns/changes to your application, please contact:
    <a href="mailto:adopt@galtx-centex.org">adopt@galtx-centex.org</a>
  </p>
</div>
