<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="lead">
    Due to the inconsistent availability of retired racers, and a large volume of applications, we do have a waiting
    list at this time. Applications are processed in the order they are received, with the caveat that not every dog is
    suitable for every applicant. We are committed to matching the right greyhound with the right family, and must
    consider things like other pets, young children, and physical environment.
  </p>
  <p class="lead">
    Currently, given the number of dogs and applications we have received, the adoption process may take as long as six
    (6) months to complete.
  </p>
  <p class="lead">
    Thank you for your patience.
  </p>
  <p class="lead">
    If you have any concerns about the status of your application, please contact
    <a href="mailto:adopt@galtx-centex.org">adopt@galtx-centex.org</a>
  </p>
</div>
