<h1>Playdate!</h1>

<p class="lead">
Join us for some off-leash fun at the <a href="https://www.doghousedrinkery.com">Doghouse Drinkery and Dog Park</a>.  We will have the front play yard reserved for our group.  Please, Greyhounds and large sighthounds only.  Dogs must wear muzzles inside the play yard.  No young children inside the play yard. 
</p>

<p class="lead">
Sunday, October 23rd, 3-5pm
</p>

<p class="lead">
3800 County Rd 175, Leander, 78641
</p>

<p class="lead">
This will also be a pick-up location for auction winners to avoid shipping charges.
</p>

<div class="text-center">
<a href="https://www.doghousedrinkery.com">
<img src="img/promo/doghouse.jpg" alt="Doghouse Drinkery and Dog Park Playdate">
</a>
</div>
