<h1 class="display-1 text-center">
We Need Your 2027 Calendar Photos !
</h1>

<div class="lead">
<p class="text-center">
Our submissions portal in now open.  To be selected for a large monthly feature, your photo must be HORIZONTAL and the highest resolution possible.  Our new phone cameras are pretty amazing, but be sure to turn is sideways.
Five photo limit per dog.  For legal reasons, no identifiable humans please (an arm, or legs, or shadow is acceptable.)
<br>
More info here:
<a href=https://galtct.armgnt.com/gms_collectioninput.php>galtct.armgnt.com/gms_collectioninput</a>
</div>

<hr>
