<h1 class="text-center">GREYtoberfest Social</h1>

<p class="lead text-center">
Enjoy the pet-friendly/family-friendly patio!
<br>
Bring your friends and neighbors who have always wanted a Greyhound!
</p>

<img class="img-responsive center-block" src="/img/promo/beer glass.jpg" alt="GREYtoberfest Social beer glass">

<a href="https://maps.app.goo.gl/7WKZpA4JThKwRmW19">
<p class="lead text-center">
Whitestone Brewery
<br>
601 E Whitestone Blvd. Cedar Park 78613
<br>
Sat. October 21st,  2-5pm
</p>
</a>
