---
layout: page
title: Emergency Care
permalink: /emergency/
---

<div class="row">
  <div class="col-md-6">
    {% include emergency.html name="Central Texas Veterinary Specialty & Emergency Hospital"
      url="https://www.ctvsh.com/locations/round-rock"
      dir="https://www.google.com/maps/dir//301+Chisholm+Trail,+Round+Rock,+TX+78681"
      address="301 Chisholm Trail<br>Round Rock, TX 78664"
      phone="512-982-0535"
      map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d782.5897922405876!2d-97.68960407138796!3d30.509026588388853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644d1f2cba1a7a9%3A0x6128a2481ba11a4!2sCentral%20Texas%20Veterinary%20Specialty%20%26%20Emergency%20Hospital!5e0!3m2!1sen!2sus!4v1590411283326!5m2!1sen!2sus"
    %}
  </div>

  <div class="col-md-6">
    {% include emergency.html name="Emergency Animal Hospital South"
      url="https://www.ctvsh.com/locations/austin"
      dir="https://www.google.com/maps/dir//4434+Frontier+Trail,+Austin,+TX+78745"
      address="4434 Frontier Trail<br>Austin, TX 78745"
      phone="512-580-9233"
      map="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13788.801225900139!2d-97.7956396!3d30.2313639!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc77a555851c4bc9!2sEmergency+Animal+Hospital!5e0!3m2!1sen!2sus!4v1466343326273"
    %}
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
    {% include emergency.html name="AVES Austin Veterinary Emergency & Specialty"
      url="https://austinvets.com/"
      dir="https://www.google.com/maps/dir//7300+Ranch+Rd+2222+%23100,+Austin,+TX+78730"
      address="7300 Ranch Rd 2222 <br> Austin TX, 78730"
      phone="512-343-2837"
      map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1304.3693638446948!2d-97.80333405221478!3d30.372212255648165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b34bc6023bb79%3A0x9c4538ef072fb72!2sAustin%20Veterinary%20Emergency%20and%20Specialty%20Center!5e0!3m2!1sen!2sus!4v1590411006964!5m2!1sen!2sus"
    %}
  </div>
  <div class="col-md-6">
    {% include emergency.html name="<s>Emergency Animal Hospital North</s> (<i>Temporarily Closed</i>)"
      url="https://www.ctvsh.com/locations/north"
      dir="https://www.google.com/maps/dir//12034+Research+Blvd+Austin+TX+78759"
      address="12034 Research Blvd <br> Austin, TX 78759"
      phone="512-580-8915"
      map="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13761.522669231803!2d-97.752841!3d30.425309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae9793c79bf79e0a!2sEmergency+Animal+Hospital+-+North!5e0!3m2!1sen!2sus!4v1466348521076"
    %}
  </div>
</div>

<h3>Questions?</h3>

<a href="http://galtx.org/faq/medical-faq.shtml">Medical FAQs</a>
<br>
More questions? Email us at <a href="mailto:info@galtx-centex.org">info@galtx-centex.org</a>
