---
layout: page
title: Available Greyhounds
permalink: /greyhounds/
---

<div class="container-fluid">

  <div class="row">

    {% assign greyhounds = site.greyhounds | where: "category","available" %}
    {% for greyhound in greyhounds reversed %}
      <div class="col-sm-4 col-md-3">
        <a class="thumbnail" href="{{ greyhound.url }}">
          <img class="img-rounded" src="/img/thm/{{ greyhound.pic }}">
          <div class="caption">
            {% if greyhound.nick %}
              <h3>{{ greyhound.nick }}</h3>
            {% else %}
              <h3>{{ greyhound.title }}</h3>
            {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}

  </div>

</div>
