---
layout: page
title: Available Greyhounds
permalink: /greyhounds/
---

<div class="container-fluid">

  <div class="row">

    {% assign greyhounds = site.greyhounds | where: "category","available" %}
    {% for greyhound in greyhounds reversed %}
      <div class="col-sm-4 col-md-3">
        <a class="thumbnail" href="{{ greyhound.url }}">
          {% if greyhound.pending or greyhound.medicalhold or greyhound.permafoster %}
          <div class="thumbnail-container">
          {% endif %}
          {% if greyhound.pic %}
            <img class="img-rounded" src="/img/thm/{{ greyhound.pic }}" alt="{{ greyhound.title | remove: '"' }}">
          {% else %}
            <img class="img-rounded" src="/img/thm/GALT-CENTEX_flag_logo.svg" alt="{{ greyhound.title | remove: '"' }}">
          {% endif %}
          {% if greyhound.pending %}
            <div class="thumbnail-pending alert alert-success" role="alert">
              <b>Adoption Pending</b>
            </div>
          </div>
          {% elsif greyhound.medicalhold %}
            <div class="thumbnail-medicalhold alert alert-warning" role="alert">
              <b>Medical Hold</b>
            </div>
          </div>
          {% elsif greyhound.permafoster %}
            <div class="thumbnail-permafoster alert alert-danger" role="alert">
              <b>Permanent Foster</b>
            </div>
          </div>
          {% endif %}
          <div class="caption">
            {% if greyhound.nick %}
              <h3>{{ greyhound.nick }}</h3>
            {% else %}
              <h3>{{ greyhound.title }}</h3>
            {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}

  </div>

</div>
