---
layout: page
title: Available Greyhounds
permalink: /greyhounds/
---

<div class="container-fluid">

  <div class="row">

    {% assign greyhounds = site.greyhounds | sort: 'arrived' | reverse %}
    {% for greyhound in greyhounds %}
      {% if greyhound.deceased %}
      {% elsif greyhound.available %}
        <div class="col-sm-4 col-md-3">
          <a class="thumbnail" href="{{ greyhound.url }}">
            <img class="img-rounded" src="/img/thm/{{ greyhound.pic }}">
            <div class="caption">
              <h3>{{ greyhound.name }}</h3>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>

</div>
