---
layout: page
title: Available Greyhounds
---

<div class="container-fluid">

  <div class="row">

    {% for greyhound in site.data.greyhounds %}

    {% if greyhound.deceased %}
    {% elsif greyhound.available %}
      <div class="col-md-3">
        <a href="/greyhounds/{{ greyhound.url }}">
        <div class="thumbnail">
          <img src="/img/thm/{{ greyhound.thumbnail }}">
          <div class="text-center">
          <h3>{{ greyhound.name }}</h3>
          </div>
        </div>
        </a>
      </div>
    {% endif %}

    {% endfor %}

  </div>

</div>
