---
layout: page
title: Available Greyhounds
---

<div class="container-fluid">

  <div class="row">

    {% for grey_hash in site.data.greyhounds %}
    {% assign grey_key = grey_hash[0] %}
    {% assign greyhound = grey_hash[1] %}

    {% if greyhound.deceased %}
    {% elsif greyhound.available %}
      <div class="col-md-3">
        <a href="/greyhounds/{{ grey_key }}">
        <div class="thumbnail">
          <img src="/img/thm/{{ greyhound.pic }}">
          <div class="text-center">
          <h3>{{ greyhound.name }}</h3>
          </div>
        </div>
        </a>
      </div>
    {% endif %}

    {% endfor %}

  </div>

</div>
