---
layout: page
title:
permalink: /greyhounds/rainbowbridge/
---

<div class="container-fluid">

  <div class="text-center">
    <img alt="Rainbow Bridge" src="/img/rainbowbridge.png">
  </div>

  <p>

  <div class="row">
    {% assign greyhounds = site.greyhounds | sort: 'arrived' | reverse %}
    {% for greyhound in greyhounds %}
      {% if greyhound.deceased %}
        <div class="col-xs-6 col-sm-4 col-md-2">
          <a class="thumbnail" href="{{ greyhound.url }}">
            <img class="img-rounded" src="/img/thm/{{ greyhound.pic }}">
            <div class="caption">
              <h3>{{ greyhound.name }}</h3>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="rainbow-poem">
    <h1>The Rainbow Bridge</h1>
    <p>
    By the edge of a woods, at the foot of a hill,<br>
    Is a lush, green meadow where time stands still.<br>
    Where the friends of man and woman do run,<br>
    When their time on earth is over and done.<br>
    For here, between this world and the next,<br>
    Is a place where each beloved creature finds rest.<br>
    On this golden land, they wait and they play,<br>
    Till the Rainbow Bridge they cross over one day.<br>
    No more do they suffer, in pain or in sadness,<br>
    For here they are whole, their lives filled with gladness.<br>
    Their limbs are restored, their health renewed,<br>
    Their bodies have healed, with strength imbued.<br>
    They romp through the grass, without even a care,<br>
    Until one day they start, and sniff at the air.<br>
    All ears prick forward, eyes dart front and back,<br>
    Then all of a sudden, one breaks from the pack.<br>
    For just at that instant, their eyes have met;<br>
    Together again, both person and pet.<br>
    So they run to each other, these friends from long past,<br>
    The time of their parting is over at last.<br>
    The sadness they felt while they were apart,<br>
    Has turned into joy once more in each heart.<br>
    They embrace with a love that will last forever,<br>
    And then, side-by-side, they cross over&#8230; together.<br>
    </p>
    --
    <p>
    Inspired by a Norse legend,<br>
    A poem by Steve and Diane Bodofsky<br>
    <br>
    </p>
  </div>

</div>
