---
layout: page
---

{% assign greyhound = page %}

<!-- Date of Birth -->
{% if greyhound.dob %}
  {% assign born = greyhound.dob | date: '%b %-d, %Y' %}
{% endif %}

<!-- Date of Death -->
{% if greyhound.dod %}
  {% assign died = greyhound.dod | date: '%b %-d, %Y' %}
{% endif %}

{% if greyhound.category == 'deceased' %}
  <div class="text-center alert alert-warning" role="alert">
    {% if greyhound.dob and greyhound.dod %}
      <span class="banner">🌈 <b>Rainbow Bridge</b> 🌈<br>{{ born }} - {{ died }}</span>
    {% elsif greyhound.dod %}
      <span class="banner">🌈 <b>Rainbow Bridge</b> 🌈<br>{{ died }}</span>
    {% else %}
      <span class="banner">🌈 <b>Rainbow Bridge</b> 🌈</span>
    {% endif %}
  </div>
{% elsif greyhound.category == 'adopted' %}
  {% if greyhound.doa %}
    {% assign adopted = greyhound.doa | date: '%B %Y' %}
  {% endif %}
  <div class="text-center alert alert-success" role="alert">
    <span class="banner">💚 <b>ADOPTED!</b> 💚<br>{{ adopted }}</span>
  </div>
{% elsif greyhound.permafoster %}
  <div class="text-center alert alert-danger" role="alert">
    <span class="banner"><b>Permanent Foster</b></span>
  </div>
{% elsif greyhound.pending %}
  <div class="text-center alert alert-success" role="alert">
    <span class="banner">💚 <b>Adoption Pending!</b> 💚</span>
  </div>
{% elsif greyhound.category == 'available' %}
  <div class="text-center alert alert-info" role="alert">
    <span class="banner">🐾 <b>Available!</b> 🐾</span>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-6">
    {% if greyhound.pic %}
      <img class="img-rounded" src="/img/{{ greyhound.pic }}"></img>
    {% else %}
      <img class="img-rounded" src="/img/GALT-CENTEX_flag_logo.svg"></img>
    {% endif %}
  </div>
  <div class="profile-content">
    {{ content }}
    {% for pic in greyhound.pics %}
      <div class="col-md-6">
        <img class="img-rounded" src="/img/{{ pic }}">
      </div>
    {% endfor %}
    {% for post in greyhound.fb-posts %}
      <div class="col-md-6">
        <div class="fb-post" data-href="{{ post }}" data-width="auto" data-show-text="true"></div>
      </div>
    {% endfor %}
  </div>
</div>

{% if greyhound.category == 'available' %}
  <div class="text-center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="GZRB2KX3VM7C4">
    <input type="hidden" name="item_name" value="Donation to Sponsor {{ greyhound.title }}">
    <input type="submit" name="submit" value="Sponsor Me!" class="btn btn-lg btn-primary">
    </form>
  </div>
{% endif %}

<p>

{% assign tweet_name = greyhound.title %}
{% if greyhound.nick %}
  {% assign tweet_name = greyhound.nick %}
{% endif %}
<div class="panel-footer">
  <div class="row">
    <div class="col-sm-6 share-btns">
      <a class="twitter-share-button"
         href="https://twitter.com/share"
         data-text="{{ tweet_name }} @galt_centraltex"
         data-hashtags="AdoptAGreyhound">Tweet</a>
      <br>
      <div class="fb-like" data-href="{{ greyhound.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    <div class="col-sm-6 info-labels">

      {% assign sex = greyhound.sex | upcase %}
      {% if sex == "MALE" %}
        <span class="label label-primary">{{ sex }}</span>
      {% elsif sex == "FEMALE" %}
        <span class="label label-info">{{ sex }}</span>
      {% endif %}

      {% if greyhound.cats == null %}
        <span class="label label-warning">CATS TBD</span>
      {% elsif greyhound.cats %}
        <span class="label label-success">CATS OK</span>
      {% else %}
        <span class="label label-danger">NO CATS</span>
      {% endif %}

      {% if greyhound.color %}
        <span class="label label-default">{{ greyhound.color | upcase }}</span>
      {% endif %}

      <!-- Deceased Greyhounds -->
      {% if greyhound.category == 'deceased' %}
        {% if greyhound.doa %}
          <span class="label label-default">Adopted {{ greyhound.doa | date: '%b %Y' }}</span>
        {% endif %}
      <!-- Available Greyhounds -->
      {% elsif greyhound.category == 'available' %}
        {% if greyhound.dob %}
          {% assign dob_ts = greyhound.dob | date: '%s' %}
          {% assign age_in_secs = site.time | date: '%s' | minus: dob_ts %}
          <!-- Age in Years -->
          <!-- 3600 seconds in an hour, 24 hours in a day, 365 days in a year -->
          {% assign age_in_years = age_in_secs | divided_by: 3600 | divided_by: 24 | divided_by: 365 %}
          {% if age_in_years > 1 %}
            <span class="label label-default">{{ age_in_years }} YEARS</span>
          {% elsif age_in_years != 0 %}
            <span class="label label-default">{{ age_in_years }} YEAR</span>
          {% else %}
            <!-- Age in Months -->
            <!-- 3600 seconds in an hour, 24 hours in a day, ~30 days in a month -->
            {% assign age_in_months = age_in_secs | divided_by: 3600 | divided_by: 24 | divided_by: 30 %}
            <span class="label label-default">{{ age_in_months }} MONTHS</span>
          {% endif %}
        {% elsif greyhound.age %}
          <span class="label label-default">{{ greyhound.age | upcase }}</span>
        {% endif %}
      <!-- Adopted Greyhounds -->
      {% else %}
        {% if greyhound.dob %}
          <span class="label label-default">Born {{ greyhound.dob | date: '%b %d, %Y' }}</span>
        {% elsif greyhound.age %}
          <span class="label label-default">{{ greyhound.age | upcase }}</span>
        {% endif %}
      {% endif %}

    </div>
  </div>
</div>
