---
layout: page
---

{% assign greyhound = site.data.greyhounds[page.greyhound] %}

{% if greyhound.deceased %}
  <div class="text-center alert alert-warning" role="alert">
    <span class="banner">🌈 <b>Rainbow Bridge</b> 🌈</span>
  </div>
{% elsif greyhound.available != true %}
  <div class="text-center alert alert-success" role="alert">
    <span class="banner">&hearts; <b>ADOPTED</b> &hearts;</span>
  </div>
{% elsif greyhound.permafoster %}
  <div class="text-center alert alert-danger" role="alert">
    <span class="banner"><b>Permanent Foster</b></span>
  </div>
{% elsif greyhound.available %}
  <div class="text-center alert alert-info" role="alert">
    <span class="banner">🐾 <b>Available!</b> 🐾</span>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <img class="img-rounded" src="/img/{{ greyhound.pic }}"></img>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</div>

{% if greyhound.available %}
  <div class="text-center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="GZRB2KX3VM7C4">
    <input type="hidden" name="item_name" value="Donation to Sponsor {{ greyhound.name }}">
    <input type="submit" name="submit" value="Sponsor Me!" class="btn btn-lg btn-primary">
    </form>
  </div>
{% endif %}

<p>

<div class="panel-footer">
  <div class="row">
    <div class="col-md-6">
      <a class="twitter-share-button"
         href="https://twitter.com/share"
         data-text="{{ greyhound.name }} @GPA_CenTex"
         data-hashtags="AdoptAGreyhound">Tweet</a>
      <br>
      <div class="fb-like" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    <div class="col-md-6 text-right">

      {% if greyhound.sex == "MALE" %}
        <span class="label label-primary">{{ greyhound.sex }}</span>
      {% elsif greyhound.sex == "FEMALE" %}
        <span class="label label-info">{{ greyhound.sex }}</span>
      {% endif %}

      {% if greyhound.cats == null %}
        <span class="label label-warning">CATS TBD</span>
      {% elsif greyhound.cats %}
        <span class="label label-success">CATS OK</span>
      {% else %}
        <span class="label label-danger">NO CATS</span>
      {% endif %}

      {% if greyhound.color %}
        <span class="label label-default">{{ greyhound.color }}</span>
      {% endif %}

      <!-- Deceased Greyhounds -->
      {% if greyhound.deceased %}
        {% if greyhound.dob and greyhound.dod %}
            {% assign born = greyhound.dob | date: '%b %d, %Y' %}
            {% assign died = greyhound.dod | date: '%b %d, %Y' %}
            <span class="label label-default">{{ born }} - {{ died }}</span>
        {% elsif greyhound.dod %}
            <span class="label label-default">?? - {{ greyhound.dod | date: '%b %d, %Y' }}</span>
        {% endif %}
      <!-- Available Greyhounds -->
      {% elsif greyhound.available %}
        {% if greyhound.dob %}
          {% assign years = greyhound.dob | date: '%Y' %}
          {% assign age = site.time | date: '%Y' | minus: years %}
          {% if age > 1 %}
            <span class="label label-default">{{ age }} YEARS</span>
          {% elsif age != 0 %}
            <span class="label label-default">{{ age }} YEAR</span>
          {% else %}
            {% assign months = greyhound.dob | date: '%m' %}
            {% assign age = site.time | date: '%m' | minus: months %}
            <span class="label label-default">{{ age }} MONTHS</span>
          {% endif %}
        {% elsif greyhound.age %}
            <span class="label label-default">{{ greyhound.age }}</span>
        {% endif %}
      <!-- Adopted Greyhounds -->
      {% else %}
        {% if greyhound.dob %}
          <span class="label label-default">{{ greyhound.dob | date: '%b %d, %Y' }}</span>
        {% elsif greyhound.age %}
            <span class="label label-default">{{ greyhound.age }}</span>
        {% endif %}
      {% endif %}

    </div>
  </div>
</div>
