---
layout: page
title: Happy Tails
---

<div class="container-fluid">

  <div class="row">

    {% for greyhound in site.data.greyhounds %}

    {% if greyhound.available %}
    {% else %}
      <div class="col-md-3">
        <a href="{{ page.url }}/{{ greyhound.url }}" class="thumbnail">
          <img src="/img/{{ greyhound.thumbnail }}" alt="{{ greyhound.name }}">
          <div class="text-center">
          <h3>{{ greyhound.name }}</h3>
          </div>
        </a>
      </div>
    {% endif %}

    {% endfor %}

  </div>

</div>
